@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-5">Welcome Back</h1>
        <p class="text-muted" style="font-size: 2rem; font-weight: bold;">"Let’s achieve something amazing together!"</p>
    </div>

   
</div>


